.workCom{
    padding-top:60px;
}

.work{
    margin-top: 75px;
    color: #20B15A;
    font-size: 20px;
    font-weight: 500;
}
.we{
    color:#000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 50px;
}


section{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px 0px;
    gap: 5rem;
}
.workListData{
    width: 100%;
    height: auto;
}
.workDataList{
    padding: 30px;
}
.workDataList h5{
    color: #000000;
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.workDataList p{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}
.linkData{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

/* Card design start */

.cardList{
    padding: 30px 0px;
}
.cardDataList{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.cardDiv{
    width: 40%;
    height: 40%;
    background-color: #D7F5DC;
    padding: 20px 0px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 28%;
    border-radius: 10px;

}
.cardImg{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.cardNumber{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.cardBody{
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-align: center;
}
.featureProject{
    color: #20B15A;
    font-size: 20px;
    font-weight: 500;
}


/* Card design end */


/* FeatureProduct design start */

.Feature{
    background-color: #F0FDF4;
    padding: 40px 0px;
}

.provide{
    color: black;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 50px;
}
#Feature{

}
.featureDataList{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.5rem;
}
#img1 {
    width: 400px;
    height: 500px;
}
.App{
    color: #2E3E5C;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.Redesign{
    color: #1E1F4B;
    font-weight: 700;
    font-size: 24px;

}
section{
    display: grid;
    grid-template-columns: auto auto;
}
.featureProjectDataList{

}
.featureImg{
    margin-top: -30px;
    width: 287px;
    height: 150px;
}
.featureDataTitle{
    color: #2E3E5C;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px;

}
.featureDataBody{
    color: #2E3E5C
}


/* FeatureProduct design end */



/* Counter design start */


.CounterData{
    background: linear-gradient(180deg, #D7F5DC 0%, #D7F5DC 100%);

}
.counter{
    padding-top:150px ;
    display: grid;
    grid-template-columns: auto auto;
    /*gap: 10rem;*/
}
.leftCounter{
    width: 100%;
}
.Increase{
    font-weight: 700;
    font-size: 20px;
}
.help{
    /*font-size: 20px;*/
    /*font-weight: 500;*/
    color: black;
}
.getStart{
    width: 130px;
    background: #20B15A;
    height: 50px;
    border: none;
    margin-top: 20px;
    border-radius: 16px;
    color: white;
}


/*.imgData{*/
/*    margin-left: 30px;*/
/*}*/











/* Counter design end */




























